@charset "UTF-8";
@font-face {
  font-family: "firasans";
  src: url("../font/FiraSans/FiraSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "centurygothic";
  src: url("../font/CenturyGothic/centurygothic.ttf") format("truetype");
}
@font-face {
  font-family: "cormorantSC";
  src: url("../font/CormorantSC/CormorantSC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "chiller";
  src: url("../font/Chiller/chiller_regular.ttf") format("truetype");
}
body {
  font-family: "firasans", "centurygothic", "cormorantSC", "chiller";
}

.mainHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(0px + 12.2916666667vw);
  min-height: 70px;
  max-height: 177px;
  background-color: #000000;
}

.mainHeaderWrapper {
  margin: 0vw 4.8611111111vw;
  padding: 2.7083333333vw 0vw 2.0138888889vw 0vw;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.mainHeaderLogo {
  margin: 0 1.5625vw 0 0;
  display: flex;
  width: auto;
}

.logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.logo__img {
  width: 8.5048611111vw;
  height: 4.7520833333vw;
  min-width: 48.39px;
  min-height: 27.03px;
  max-width: 122.47px;
  max-height: 68.43px;
}
.logo__titleWrapper {
  position: relative;
  margin: 0 0 -0.2083333333vw 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: auto;
}
.logo__firstWord {
  margin: 0 0 0 -0.8333333333vw;
  font-family: "chiller";
  font-size: calc(0px + 10.8333333333vw);
  line-height: 0.53;
  display: inline-block; /* Необходимо для применения transform */
  transform: scaleX(1.1); /* Масштабирование по горизонтали */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo__firstWord::before {
  content: "";
  position: absolute;
  top: 2.6388888889vw;
  left: 8.5416666667vw;
  width: 0.625vw;
  height: 0.4861111111vw;
  min-width: 3.9px;
  min-height: 2.77px;
  max-width: 9px;
  max-height: 7px;
  background: url(../pic/logoPoint.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}
.logo__secondWord {
  margin: 0 0 -0.0694444444vw -0.9027777778vw;
  display: flex;
  font-family: "cormorantSC";
  font-size: calc(0px + 1.0590277778vw);
  text-transform: uppercase;
  letter-spacing: calc(0px + 0.2291666667vw);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo__thirdWord {
  margin: 0 0 0 -0.9027777778vw;
  font-family: "cormorantSC";
  font-size: calc(0px + 1.5277777778vw);
  text-transform: uppercase;
  letter-spacing: calc(0px + 0.2777777778vw);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.white {
  color: #ffffff;
}

.titleContainer {
  margin: 1.1805555556vw 22.5px 0 22.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.headerLanguageSwitchContainer {
  margin: 0 10px 10px 0;
}
.headerLanguageSwitchContainer__ukrainianButtonTitle {
  white-space: nowrap;
}
.headerLanguageSwitchContainer__englishButton {
  display: none;
}
.headerLanguageSwitchContainer__englishButtonTitle {
  white-space: nowrap;
}

.headerLanguageSwitchButton {
  border: none;
  cursor: pointer;
  background: #000000;
}
.headerLanguageSwitchButton__title {
  font-size: calc(0px + 1.25vw);
  color: #fff;
}

.circleButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #000000;
}

h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: calc(12px + 0.8333333333vw);
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.mainMenu {
  display: flex;
}
.mainMenu__ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1072px;
}
.mainMenu__li {
  font-size: calc(0px + 1.25vw);
}
.mainMenu__link {
  position: relative;
  display: inline-block;
  transition: box-shadow 0.3s ease;
}
.mainMenu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(216, 57, 52, 0), rgb(255, 255, 255), rgba(216, 57, 52, 0));
  transition: width 0.4s ease, left 0.4s ease;
}
.mainMenu__link:hover::after {
  width: 100%;
  left: 0;
}
.mainMenu__link:hover {
  color: #ffffff;
  transition: 0.4s;
  cursor: pointer;
}
.mainMenu__link:not(:hover) {
  color: #fff;
  transition: 1s;
}

.socialContainer {
  margin: 0 0 -7px 22.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialUpperWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialLikeAndShareInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.socialLikeAndShareInner__likeButton {
  position: relative;
  display: flex;
}
.socialLikeAndShareInner__likeButton::after {
  content: "Like";
  position: absolute;
  top: 6px;
  left: 38px;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
}
.socialLikeAndShareInner__shareButton {
  position: relative;
  display: flex;
}
.socialLikeAndShareInner__shareButton::before {
  content: "Share";
  position: absolute;
  top: 6px;
  right: 38px;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
}

.burgerButtonWrapper {
  margin: 0 0 0 28px;
}

.burgerButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10.4861111111vw;
  height: 3.5416666667vw;
  min-width: 94.75px;
  min-height: 32px;
  max-width: 151px;
  max-height: 51px;
  border-radius: 51px;
  color: #fff;
  border: none;
  background-color: #3a8374;
  cursor: pointer;
}
.burgerButton__img {
  margin: 0 0.4166666667vw 0 0;
  width: 2.2222222222vw;
  height: 2.2222222222vw;
  min-width: 20px;
  min-height: 20px;
  max-width: 32px;
  max-height: 32px;
}
.burgerButton__title {
  margin: 0 0 0 0.4166666667vw;
  font-size: calc(18px + 0vw);
}

.socialDownWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px 0 0;
}
.socialDownWrapper__followUsTitle {
  margin: 0 20px -1px 0;
  width: auto;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}
.socialDownWrapper__separator {
  margin: 0 25px 0 24px;
}
.socialDownWrapper__separatorImg {
  display: flex;
  width: 1px;
  height: 32px;
}

.socialDownWrapperButton {
  margin: 0 5px;
}

.staticHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6.9444444444vw;
  min-height: 50px;
  max-height: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.staticHeader.visible {
  transform: translateY(0);
}

.staticHeaderWrapper {
  margin: 0vw 4.8611111111vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staticHeaderLogo {
  margin: 0 1.5625vw 0 0;
}

.staticHeaderLogoTitle {
  font-family: "chiller";
  font-size: calc(0px + 9.375vw);
  line-height: 0.53;
  display: inline-block; /* Необходимо для применения transform */
  transform: scaleX(1.1); /* Масштабирование по горизонтали */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.staticHeaderTitleContainer {
  margin: 0 1.5625vw;
  display: flex;
  align-items: center;
}
.staticHeaderTitleContainer__likeButton {
  margin: 0 31px 0 0;
  display: flex;
}
.staticHeaderTitleContainer__shareButton {
  margin: 0 0 0 31px;
  display: flex;
}

.staticHeaderTitle {
  display: flex;
  justify-content: center;
  font-size: calc(12px + 0.8333333333vw);
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.staticHeaderLoginContainer {
  display: flex;
  align-items: center;
  margin: 0 0 0 1.5625vw;
}
.staticHeaderLoginContainer__separator {
  margin: 0 19px 0 17px;
}

.black {
  color: #000000;
}/*# sourceMappingURL=style.css.map */