@charset "UTF-8";
@font-face {
  font-family: "firasans";
  src: url("../font/FiraSans/FiraSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "centurygothic";
  src: url("../font/CenturyGothic/centurygothic.ttf") format("truetype");
}
@font-face {
  font-family: "cormorantSC";
  src: url("../font/CormorantSC/CormorantSC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "chiller";
  src: url("../font/Chiller/chiller_regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "firasans", "centurygothic", "cormorantSC", "chiller";
}

.mainHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(0px + 12.2916666667vw);
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.logoWrapper {
  margin: 0 0 0 4.8611111111vw;
  padding: 2.0138888889vw 0 0 0;
  display: flex;
  flex-direction: row;
  width: 17.0833333333vw;
}
.logoWrapper_logoImage {
  margin: 3.3333333333vw 0 0 0;
  width: 8.5048611111vw;
  height: 4.7520833333vw;
}
.logoWrapper_logoTitleWrapper {
  display: flex;
  flex-direction: column;
}
.logoWrapper_logoFirstWord {
  position: relative;
  margin: 0 0 0 -0.8333333333vw;
  display: flex;
  font-family: "chiller";
  font-size: calc(0px + 10.8333333333vw);
  line-height: 0.55;
  display: inline-block; /* Необходимо для применения transform */
  transform: scaleX(1.1); /* Масштабирование по горизонтали */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logoWrapper_logoFirstWord::before {
  content: "";
  position: absolute;
  top: 2.8472222222vw;
  left: 8.5416666667vw;
  width: 0.5555555556vw;
  height: 0.4166666667vw;
  flex-shrink: 0;
  background: url(../pic/logoPoint.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
}
.logoWrapper_logoSecondWord {
  margin: 0vw 0 0 -0.9027777778vw;
  display: flex;
  font-family: "cormorantSC";
  font-size: calc(0px + 1.0659722222vw);
  text-transform: uppercase;
  letter-spacing: calc(0px + 0.2361111111vw);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logoWrapper_logoThirdWord {
  display: flex;
  margin: -0.1388888889vw 0 0 -0.9027777778vw;
  font-family: "cormorantSC";
  font-size: calc(0px + 1.5277777778vw);
  text-transform: uppercase;
  letter-spacing: calc(0px + 0.2777777778vw);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.languageButton {
  margin: 3.9583333333vw -6.25vw 0 0;
  width: 2.7777777778vw;
  height: 1.3888888889vw;
  flex-shrink: 0;
  position: relative;
  perspective: 100px; /* Устанавливает перспективу для 3D вращения */
  cursor: pointer;
}

.languageButton:hover {
  box-shadow: 0 0 10px 5px #d83934; /* Падающая тень */
  background-color: rgba(216, 57, 52, 0.85); /* 50% прозрачности фона */
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}

.languageButton:not(:hover) {
  transition: 1s;
}

.flagContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  animation: rotate 3s linear infinite;
}
.flagContainer_Ukr {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background: url("../pic/UkrLang.webp") no-repeat center center;
  background-size: cover;
}
.flagContainer_Eng {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background: url("../pic/EngLang.webp") no-repeat center center;
  background-size: cover;
  transform: rotateX(180deg);
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.titleWrapper {
  margin: 0 0 0 -5.9027777778vw;
  padding: 1.8055555556vw 0 0 6.25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleWrapper .titleH1 {
  display: flex;
  margin: 0;
  font-size: calc(0px + 1.6666666667vw);
  justify-content: center;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.mainMenu {
  margin: 3.4722222222vw 0 0 0;
  display: flex;
}
.mainMenu_ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 2.8263888889vw;
}
.mainMenu_li {
  position: relative;
  font-size: calc(0px + 1.25vw);
}
.mainMenu_link {
  position: relative;
  display: inline-block;
}
.mainMenu_link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, rgba(216, 57, 52, 0), rgb(216, 57, 52), rgba(216, 57, 52, 0));
  transition: width 0.4s ease, left 0.4s ease;
}
.mainMenu_link:hover::after {
  width: 100%;
  left: 0;
}
.mainMenu_link:hover {
  color: #d83934;
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.mainMenu_link:not(:hover) {
  color: #fff;
  transition: 1s;
}

.socialWrapper {
  margin: 0 4.8611111111vw 0 0;
  display: flex;
  height: 100%;
  width: 24.7222222222vw;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.socialUpperSubWrapper {
  margin: 0;
  padding: 2.7083333333vw 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.socialUpperSubWrapper_likeButton {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/likeHeart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.socialUpperSubWrapper_likeButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/likeHeart.svg) center center/contain no-repeat;
  transition: transform 0.3s ease;
}
.socialUpperSubWrapper_likeButton:hover::before {
  transform: scale(1.1);
}
.socialUpperSubWrapper_likeButtonDiscription {
  margin: 0vw 0 0 0.3472222222vw;
  font-size: calc(0px + 1.25vw);
  font-family: "firasans";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.socialUpperSubWrapper_shareButtonDiscription {
  margin: 0vw 0.3472222222vw 0 1.7361111111vw;
  font-size: calc(0px + 1.25vw);
  font-family: "firasans";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.socialUpperSubWrapper_shareButton {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0vw 1.9444444444vw 0 0;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/shareArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.socialUpperSubWrapper_shareButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/shareArrow.svg) center center/contain no-repeat;
  transition: transform 0.3s ease;
}
.socialUpperSubWrapper_shareButton:hover::before {
  transform: scale(1.1);
}
.socialUpperSubWrapper_burgerMenuButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5555555556vw;
  width: 10.4861111111vw;
  height: 3.5416666667vw;
  margin: 0;
  padding: 0;
  border-radius: 1.7708333333vw;
  color: #fff;
  flex-shrink: 0;
  border: none;
  background-color: #3a8374;
}
.socialUpperSubWrapper_burgerMenuButton:hover {
  box-shadow: 0 0 10px 5px #d83934;
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.socialUpperSubWrapper_burgerMenuButton:not(:hover) {
  transition: 1s;
}
.socialUpperSubWrapper .burgerMenuButtonTitleImage {
  width: 2.2222222222vw;
  height: 2.2222222222vw;
}
.socialUpperSubWrapper .burgerMenuButtonTitle {
  font-size: calc(18px + 0vw);
  font-family: "firasans";
}

.socialDownSubwrapper {
  margin: 0;
  display: flex;
  width: 100%;
  padding: 0 0 1.5277777778vw 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.socialDownSubwrapper_followUsTitle {
  width: 6.7361111111vw;
  font-size: calc(0px + 1.0902777778vw);
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.socialDownSubwrapper_headerFacebookButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/fasebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}
.socialDownSubwrapper_headerFacebookButton:hover {
  box-shadow: 0 0 10px 5px #d83934; /* Падающая тень */
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.socialDownSubwrapper_headerFacebookButton:not(:hover) {
  transition: 1s;
}
.socialDownSubwrapper_headerInstagramButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/instagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}
.socialDownSubwrapper_headerInstagramButton:hover {
  box-shadow: 0 0 10px 5px #d83934; /* Падающая тень */
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.socialDownSubwrapper_headerInstagramButton:not(:hover) {
  transition: 1s;
}
.socialDownSubwrapper_headerTwitterButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/twitter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}
.socialDownSubwrapper_headerTwitterButton:hover {
  box-shadow: 0 0 10px 5px #d83934; /* Падающая тень */
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.socialDownSubwrapper_headerTwitterButton:not(:hover) {
  transition: 1s;
}
.socialDownSubwrapper_headerMailButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/mail.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}
.socialDownSubwrapper_headerMailButton:hover {
  box-shadow: 0 0 10px 5px #d83934; /* Падающая тень */
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.socialDownSubwrapper_headerMailButton:not(:hover) {
  transition: 1s;
}
.socialDownSubwrapper_separator {
  margin: 0 1.3888888889vw;
  width: 1px;
  height: 2.2222222222vw;
  background-color: #fff;
  order: 5;
}
.socialDownSubwrapper_headerLoginButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/login.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  order: 6;
}
.socialDownSubwrapper_headerLoginButton:hover {
  box-shadow: 0 0 10px 5px #d83934; /* Падающая тень */
  transition: 0.4s;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.socialDownSubwrapper_headerLoginButton:not(:hover) {
  transition: 1s;
}

.bodyLorem {
  margin: 12.2916666667vw 0 0 0;
  color: black;
}

.staticHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6.9444444444vw;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.staticHeaderLogoWrapper {
  margin: 0 0 0 4.8611111111vw;
  display: flex;
  flex-direction: row;
  width: 8.1944444444vw;
  align-items: center;
}
.staticHeaderLogoWrapper_staticHeaderlogoImage {
  display: none;
}
.staticHeaderLogoWrapper_staticHeaderlogoTitleWrapper {
  display: flex;
  flex-direction: column;
}
.staticHeaderLogoWrapper_staticHeaderlogoFirstWord {
  position: relative;
  margin: -1.3888888889vw 0 0 0vw;
  display: flex;
  font-family: "chiller";
  font-size: 9.375vw;
  line-height: 0.55;
  display: inline-block; /* Необходимо для применения transform */
  transform: scaleX(1.1); /* Масштабирование по горизонтали */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.staticHeaderLogoWrapper_staticHeaderlogoFirstWord::before {
  content: "";
  position: absolute;
  top: 2.4305555556vw;
  left: 7.2222222222vw;
  width: 0.5555555556vw;
  height: 0.4166666667vw;
  flex-shrink: 0;
  background: url(../pic/logoPoint.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
}
.staticHeaderLogoWrapper_staticHeaderlogoSecondWord {
  display: none;
}
.staticHeaderLogoWrapper_staticHeaderlogoThirdWord {
  display: none;
}

.staticHeader.visible {
  transform: translateY(0);
}

.staticHeaderTitleWrapper {
  margin: 0 0 0 5.2083333333vw;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 2.1527777778vw;
}

.staticHeaderLikeButton {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/likeHeart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.staticHeaderTitle {
  display: flex;
  margin: 0;
  margin: 0 0 0 0vw;
  font-size: calc(12px + 0.8333333333vw);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.staticHeaderShareButton {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/shareArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.staticHeaderLoginWrapper {
  margin: 0 4.8611111111vw 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.1805555556vw;
}

.staticHeadereaderLoginButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  background: url(../pic/loginBlack.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}

.staticHeaderSeparator {
  margin: 0;
  width: 1px;
  height: 2.2222222222vw;
  height: 32px;
  background-color: #000000;
}

.staticHeaderBurgerMenuButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5555555556vw;
  width: 10.4861111111vw;
  height: 3.5416666667vw;
  min-width: 94.75px;
  min-height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 1.7708333333vw;
  color: #fff;
  flex-shrink: 0;
  border: none;
  background-color: #3a8374;
}

.staticBurgerMenuButtonTitleImage {
  width: 2.2222222222vw;
  height: 2.2222222222vw;
}

.staticHeaderBurgerMenuButtonTitle {
  font-size: calc(9px + 0.625vw);
  font-family: "firasans";
}/*# sourceMappingURL=style.css.map */