.socialLikeAndShareInner {
    &__likeButton:hover,
    &__shareButton:hover {
        box-shadow: 0 0 7px 3px rgb(255, 255, 255);
        transition: box-shadow 0.3s ease;
    }

    &__likeButton:not(:hover),
    &__shareButton:not(:hover) {
        transition: 1s;
    }
}

.socialDownWrapper {
    &__facebookButton:hover,
    &__instagramButton:hover,
    &__twitterButton:hover,
    &__mailButton:hover {
        box-shadow: 0 0 10px 5px #3a8374;
        transition: box-shadow 0.3s ease;
    }

    &__facebookButton:not(:hover),
    &__instagramButton:not(:hover),
    &__twitterButton:not(:hover),
    &__mailButton:not(:hover) {
        transition: 1s;
    }

    &__loginButton:hover {
        box-shadow: 0 0 10px 5px #d83934;
        transition: box-shadow 0.3s ease;
    }

    &__loginButton:not(:hover) {
        transition: 1s;
    }
}

.staticHeaderTitleContainer {
    &__likeButton:hover,
    &__shareButton:hover {
        box-shadow: 0 0 10px 5px #3a8374;
        transition: box-shadow 0.3s ease;
    }

    &__likeButton:not(:hover),
    &__shareButton:not(:hover) {
        transition: 1s;
    }
}

.staticHeaderLoginContainer {
    &__loginButton:hover {
        box-shadow: 0 0 10px 5px #d83934;
        transition: box-shadow 0.3s ease;
    }

    &__loginButton:not(:hover) {
        transition: 1s;
    }
}
