@font-face {
    font-family: 'firasans';
    src: url('../font/FiraSans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'centurygothic';
    src: url('../font/CenturyGothic/centurygothic.ttf') format('truetype');
}

@font-face {
    font-family: 'cormorantSC';
    src: url('../font/CormorantSC/CormorantSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'chiller';
    src: url('../font/Chiller/chiller_regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'firasans', 'centurygothic', 'cormorantSC', 'chiller';
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
}

.logoWrapper img {
    height: 68,43px;
}

.logoWrapper_logoTitleWrapper {
    display: flex;
    flex-direction: column;
}

.logoWrapper_logoTitleWrapper_logoFirstWord {
    font-family: 'chiller';
    font-size: 149,32px;
}

.logoWrapper_logoTitleWrapper_logoSecondWord {
    font-family: 'cormorantSC';
    font-size: 149,32px;
}

.logoWrapper_logoTitleWrapper_logoThirdWord {
    font-family: 'cormorantSC';
    font-size: 149,32px;
}



.language-switch {
    font-size: 0.9em;
    margin-right: 10px;
}



.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    flex-grow: 1;
    text-align: center;
}

.mainMenu {
    display: flex;
}

.mainMenu_ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.mainMenu_li {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.mainMenu_link {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.social-media, .follow-us, .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.follow-us span {
    margin-right: 10px;
}

.social-media img, .follow-us img, .user-profile img {
    height: 24px;
}
